@import "utilities/utilities";
@import "utilities/utilities_basic_decoration";
@import "utilities/utilities_text_utilities";
@import "utilities/utilities_basic_sizing";

body{
    #domButton{
        display: block;
    }

    #squareContainer{
        @include add_border();
        @include adjust_width_height();
        
    }

    .squares{
        width: 10em;
        height: 10em;
        line-height: 10em;
        background-color: black;
        display: inline-flex;
        margin: 2em 2em;
        position: relative;
        p{
            cursor: default; 
            text-align: center;
            justify-content: center;
            color: white;
            margin: 0 auto;
        }
    }
    
    
}